@model IEnumerable<CineGest.Models.Movies>

@{
    ViewData["Title"] = "Filmes";
}

<h1>Filmes</h1>

<p>
    <a asp-action="Create">Criar novo registo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Highlighted)
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Min_age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Highlighted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-cog"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes"><i class="fas fa-info mx-2"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Apagar"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
