@model IEnumerable<CineGest.Models.Cinemas>

@{
    ViewData["Title"] = "Cinemas";
}

<h1>Cinemas</h1>

<p>
    <a asp-action="Create">Criar novo registo</a>
</p>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Capacidade
            </th>
            <th>
                Cidade
            </th>
            <th>
                Localização
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-cog"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes"><i class="fas fa-info mx-2"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Apagar"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
