@model IEnumerable<CineGest.Models.Users>

@{
    ViewData["Title"] = "Utilizadores";
}

<h1>Utilizadores</h1>

<p>
    <a asp-action="Create">Criar novo registo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Nome
            </th>
            <th>
                Data de nascimento
            </th>
            <th>
                Cargo
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-cog"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes"><i class="fas fa-info mx-2"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Apagar"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
