@model IEnumerable<CineGest.Models.Tickets>

@{
    ViewData["Title"] = "Bilhetes";
}

<h1>Bilhetes</h1>

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Filme
            </th>
            <th>
                Cinema
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session.Cinema.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session.Cinema.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Session.MovieFK">
                        @Html.DisplayFor(modelItem => item.Session.Movie.Name)
                    </a>
                </td>
                <td>
                    <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@item.Session.CinemaFK">
                        @Html.DisplayFor(modelItem => item.Session.Cinema.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.Cinema.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.Cinema.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seat)
                </td>
            </tr>
        }
    </tbody>
</table>
