@model CineGest.Models.Sessions

@{
    ViewData["Title"] = "Apagar Sessão";
}

<h2>Apagar Sessão</h2>

<p>Tem acerteza que quer apagar este registo?</p>
<div class="ml-3">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CinemaFK)

        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.Cinema.Id">
                @Html.DisplayFor(model => model.Cinema.Name)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieFK)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Movie.Id">
                @Html.DisplayFor(model => model.Movie.Name)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Occupated_seats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Occupated_seats)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à tabela</a>
    </form>
</div>
