@model IEnumerable<CineGest.Models.Sessions>

@{
    ViewData["Title"] = "Sessões";
}

<h1>Sessões</h1>

<p>
    <a asp-action="Create">Criar novo registo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cinema
            </th>
            <th>
                Filme
            </th>
            <th>
                Data de início
            </th>
            <th>
                Data de fim
            </th>
            <th>
                Lugares ocupados
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-area="Cinemas" asp-page="/Details" asp-route-id=@item.Cinema.Id>
                        @Html.DisplayFor(modelItem => item.Cinema.Name)
                    </a>
                </td>
                <td>
                    <a asp-area="Movies" asp-page="/Details" asp-route-id="@item.Movie.Id">
                        @Html.DisplayFor(modelItem => item.Movie.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupated_seats)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes"><i class="fas fa-info mx-2"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Apagar"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
